@import "tailwindcss";

@keyframes spin-slow {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  .rotate-smooth {
    animation: spin-slow 10s linear infinite;
  }
  
